{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}
    {{ block.super }}
    {% if original.status == 'draft' %}
        <li>
            <a href="{% url 'admin:send_mailing' original.pk %}" class="viewsitelink">
                {% translate "Начать рассылку" %}
            </a>
        </li>
    {% else %}
        <li>
            <span class="viewsitelink" style="opacity: 0.5; pointer-events: none;">
                {% translate "Рассылка уже отправлена" %}
            </span>
        </li>
    {% endif %}
{% endblock %}
